@import "../../styles/main.scss";

.btn {
    background: #fff;
    color: #1632A0;
    padding: .8em 2em;
    font-family: inherit;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: $text-200;
    transition: all .5s ease-in-out;
    text-transform: capitalize;

    &:hover{
        background: linear-gradient(92.83deg, #D4FC5F -24.23%, #DBFF73 -3.53%, #76DEFF 27.72%, #91DBFA 50.61%, #FF76FA 86.75%);
        transition: all .5s ease-in-out;
        cursor: pointer;
    }
    
    @include mobile{
        position: static;
        margin-block: 2rem;
        align-self: flex-start;
        // display: none;
    }
}