@import "../../styles/main.scss";

.btn {
    background-color: #fff;
    color: #1632A0;
    padding: .8em 2em;
    font-family: inherit;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1.3rem;
    color: $text-200;
    text-transform: capitalize;
    @include mobile{
        position: static;
    }
}