@import "../../styles/main.scss";

.profile {
    width: 100%;
    height: 100vh;
    padding: 0 toRem(150) 0 toRem(150);
    background-color: $bg-100;
    display: flex;
    flex-direction: column;
    transition: background-color .5s ease-in-out;

    @include mobile {
        height: 100%;
        padding: toRem(40) toRem(25) toRem(200) toRem(25);
    }

    .content {
        width: 100%;
        margin-top: 8rem;
        column-gap: 25rem;
        display: flex;

        @include mobile {
            margin-top: 4rem;
            flex-direction: column-reverse;
            row-gap: 3rem;
        }

        &_left {
            max-width: 47rem;

            @include mobile {
                display: flex;
                text-align: center;
                flex-direction: column;
                align-self: center;
            }

            .content_header {
                font-size: 3.5rem;
                margin-bottom: .8rem;
            }

            p {
                color: $text-100;
                margin-bottom: 3rem;

                span {
                    font-weight: 600;
                }
            }

            p:first-of-type {
                margin-bottom: .5rem;
            }

            p:nth-last-of-type(2) {
                margin-bottom: 0;
            }
        }

        .profile_right {
            display: flex;
            flex-direction: column;
            align-items: center;

            .abdy {
                width: 338.5px;
                height: 349px;
            }

            .content_footer {
                display: flex;
                gap: 2rem;
                margin-block: 6rem 4rem;
                height: fit-content;

                @include mobile {
                    margin-block: 2rem;
                }

                li {
                    width: toRem(60);

                    img {
                        width: 100%;
                    }
                }
            }
        }

        &_paragraph {
            p {
                font-size: 1.5rem;

                @include mobile {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &_img {
        width: 45rem;
        aspect-ratio: 1/1;

        @include mobile {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}