@import "../../styles/main.scss";
.title{
    border: 0.6px solid;
    padding: 1rem 2.5rem;
    border: 0.6px solid rgba(75, 74, 137, 0.75); 
    border-radius: 1.8rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

