@import "../../styles/main.scss";

.home_container {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 toRem(90) toRem(150) toRem(90);

    @include mobile {
        padding: toRem(40) toRem(35) toRem(100) toRem(35);
    }


    .hero {
        display: flex;
        margin-top: toRem(100);
        height: 95vh;
        position: relative;
        justify-content: space-between;

        @include respond-to-orientation(portrait) {
            height: 55vh;
        }

        @include md{
            height: 45vh;
            // border: 1px solid red;
        }

        @include mobile {
            justify-content: flex-start;
            gap: .3rem;
            flex-direction: column;
        }

        .hero_header {
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            background-image: linear-gradient(92.83deg, #D4FC5F -24.23%, #DBFF73 -3.53%, #76DEFF 27.72%, #91DBFA 50.61%, #FF76FA 86.75%);
            height: fit-content;

            @include mobile{
                font-size: 3rem;
                font-weight: 400;
                line-height: 3.7rem; 
                margin-bottom: 1rem;
            }

        }

        .right {
            height: fit-content;
            max-width: 35rem;

            .hero_text {
                color: $text-100;

                @include mobile {
                    max-width: 340px;
                }
            }

            .hero_text_bottom {
                margin-top: 1rem;

                a {
                    color: #76DEFF;
                    text-decoration: underline;
                }

                @include mobile{
                    margin-top: .5rem;
                }
            }

        }
    }

    .project {
        position: relative;
        z-index: 4;
        height: fit-content;
        width: 100%;
        display: flex;
        row-gap: 5rem;
        flex-wrap: wrap;

        @include mobile {
            // flex-direction: column;
        }
    }

    .background {
        position: absolute;
        object-fit: cover;
    }

    .background-0,
    .background-2 {
        z-index: 1;
        top: toRem(700);
        width: 40%;

        @include mobile {
            top: toRem(600);
        }

        img {
            width: 100%;
        }

    }

    .background-0 {
        left: 0;

    }

    .background-2 {
        right: 0;
    }

    .background-1 {
        align-self: center;
        z-index: 0;
        top: toRem(400);
        width: 60%;

        img {
            width: 100%;
        }

        @include mobile {
            top: toRem(500);
        }

    }
}