@import "../../styles/main.scss";



.nav{
    display: flex;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    left: 0;
    padding-top: toRem(42);
    padding-bottom: toRem(10);

    &_center{
        display: flex;
        background-color: $bg-200;
        padding: 1.7rem 2.7rem;
        gap: toRem(40);
        border-radius: toRem(73);
    }

    a{
        color: $text-100;
    }

    &_link{
        display: flex;
        align-items: center;
        gap: toRem(10);
        align-items: center;  
    }
    .active{
        color: #ffffff;
    }
  
}
