@import '../abstract/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

.paragraph--1 {
    font-size: 1.125rem;
    line-height: 1.74rem;
    font-weight: 400;
}

.paragraph--2 {
    font-size: 1.7rem;
    line-height: 2.6rem;
    font-weight: 300;

    @include mobile {
        font-size: 1.5rem;
    }
}

.paragraph--3 {
    font-size: 1.5rem;
    line-height: 2.055rem;
    font-weight: 400;

    @include mobile{
        font-size: 1.2rem;
    }
}

ul {
    list-style: none;
}

span.word_wrap {
    overflow: hidden;
    display: inline-block;
}

[data-animation="header"] span.word {
    overflow-y: hidden;
    position: relative;
}

.header--1{
    font-family: "Manjari", sans-serif;
    font-size: 3rem;
    color: black;

    @include mobile{
        font-size:2rem;
    }
}

.paragraph--4{
    font-family: "Manjari", sans-serif;
    font-size: 2.3rem;
    color: rgba(68, 88, 99, 1);

    @include mobile{
        font-size: 1.7rem;
    }
}


.paragraph--5{
    font-family: "Manjari", sans-serif;
    font-size: 1.7rem;
    color: rgba(68, 88, 99, 1);

    @include mobile{
        font-size: 1.3rem;
    }
}
